@model Individual
<h2>
    Profil korisnika
</h2>
<table class="table table-striped table-bordered table-sm">
    <tr data-toggle="collapse" id="xman" data-target="@("#" + Model.Id.ToString())" style="cursor:pointer;">
        <td class="text-center"><b>@Model.Name  @Model.Surname</b></td>
    <tr></tr>
    <tr class="bg-light">
        <td colspan="8" style="padding:0;margin:0;">
            <div id="@Model.Id" class="subRow collapse">
                <div class="container-fluid">
                    <div class="row">
                        <div class="column1">
                            <div>
                                <h4><b><center>@Model.Name  @Model.Surname</center></b></h4>
                            </div>
                            <h1></h1>
                            <div>
                                <h4>Datum rođenja: <b>@Model.DateOfBirth.ToString("dd/MM/yyyy")</b></h4>
                            </div>

                            <div>
                                <h4>Mail: <b>@Model.Email.ToString()</b></h4>
                            </div>
                            <div>
                                <h4>Telefon: <b>@Model.PhoneNumber.ToString()</b></h4>
                            </div>
                            <div>
                                <h4>Adresa: <b>@Model.Address, @Model.City, Hrvatska</b></h4>
                            </div>

                        </div>
                        <div class="column">
                            <div>
                                <h5><b><center>Biografija:</center></b></h5>
                            </div>
                            <div>
                                @Model.About
                            </div>
                            <div>
                                <h4>Vještine: <b>@Model.Skills</b></h4>
                            </div>
                        </div>
                     

                    </div>

                </div>
            </div>
        </td>
    </tr>

    </tr>




</table>


<style>
    #xman {
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 30px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, #xman:hover {
            background-color: #c5c5c5;
        }

    #cman {
        padding: 0 14px;
        display: none;
        overflow: hidden;
        background-color: #ff0000;
    }

    #da {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 40%;
        padding: 30px;
        height: 280px; /* Should be removed. Only for demonstration */
    }

    .column1 {
        float: left;
        width: 40%;
        padding: 30px;
        height: 280px; /* Should be removed. Only for demonstration */
    }

    .column2 {
        float: left;
        width: 35%;
        padding: 30px;
        height: 280px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

