@model IEnumerable<Ad>
<h2>
    Svi oglasi
</h2>
@if (!Model.Any())
{
    <h5 style="color: #778899">Trenutno nema oglasa</h5>
}

<table class="table table-striped table-bordered table-sm">

    @foreach (var item in Model)
    {
        <tr data-toggle="collapse" id="xman" data-target="@("#" + item.Id.ToString())" style="cursor:pointer;">
            <td class="text-center"><b>@item.Title</b></td>
            <td class="text-center">
                @if (item.Company.Id.ToString().Equals(@ViewData["id"]))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">✎</a>
                    <form asp-action="Delete" asp-route-id="@item.Id"
                          method="POST" style="display: inline-block">
                        <button type="submit" class="btn btn-danger btn-sm">✘</button>
                    </form>
                }

                @if (User.IsInRole("Individual"))
                {
                    Boolean x = false;
                    foreach (var y in item.AdIndividual)
                    {
                        if (y.Individual.Id.ToString().Equals(@ViewData["id"]))
                        {

                            x = true;

                        }
                    }
                    if (x == true)
                    {
                        <form asp-action="CancelApplyTo" asp-route-id="@item.Id"
                              method="POST" style="display: inline-block">
                            <button type="submit" class="btn btn-danger btn-sm">Otkaži prijavu</button>
                        </form>

                    }
                    else
                    {

                        <form asp-action="ApplyTo" asp-route-id="@item.Id"
                              method="POST" style="display: inline-block">
                            <button type="submit" class="btn btn-success btn-sm">Prijavi se</button>
                        </form>
                    }

                }
            </td>
        <tr></tr>
        <tr class="bg-light">
            <td colspan="8" style="padding:0;margin:0;">
                <div id="@item.Id" class="subRow collapse">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="column1">
                                <div>
                                    <h4><b><center>@item.Title</center></b></h4>
                                </div>
                                <h1></h1>
                                <div>
                                    <h4>Datum objavljivanja: <b>@item.Date.ToString("dd/MM/yyyy")</b></h4>
                                </div>

                                <div>
                                    <h4>Firma: <a asp-controller="Company" asp-action="Show" asp-route-id="@item.Company.Id"><b>@item.Company.Name<b/></a><b> (@item.Company.BussinesType)</b></h4>
                                </div>
                                <div>
                                    <h4>Mail firme: <b>@item.Company.Email.ToString()</b></h4>
                                </div>
                                <div>
                                    <h4>Vrsta oglasa: <b>@item.AdCategory.Name</b></h4>
                                </div>
                                <div>
                                    <h4>Lokacija: <b>@item.Location</b></h4>
                                </div>
                                <div>
                                    <h4>Broj radnih sati tjedno: <b>@item.NumberOfWorkingHours</b></h4>
                                </div>
                            </div>
                            <div class="column">
                                <div>
                                    <h5><b><center>Opis posla:</center></b></h5>
                                </div>
                                <div>
                                    @item.JobSummary
                                </div>
                                <div>
                                    <h4>Zahtjevane vještine: <b>@item.RequiredSkills</b></h4>
                                </div>
                            </div>
                            @if (item.Company.Id.ToString().Equals(@ViewData["id"]))
                            {
                                <div class="column2">
                                    <div>
                                        <h5><b><center>Prijavljeni korisnici:</center></b></h5>
                                    </div>
                                    <div>
                                        @foreach (var x in item.AdIndividual)
                                        {
                                            <h4><a asp-controller="Account" asp-action="Show" asp-route-id="@x.Individual.Id">@x.Individual.Name @x.Individual.Surname</a></h4>
                                        }
                                    </div>
                                </div>
                            }

                            </div>

                    </div>
                </div>
            </td>
        </tr>

        </tr>

    }


</table>


<style>
    #xman {
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 30px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, #xman:hover {
            background-color: #c5c5c5;
        }

    #cman {
        padding: 0 14px;
        display: none;
        overflow: hidden;
        background-color: #ff0000;
    }

    #da {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 30%;
        padding: 30px;
        height: 280px; /* Should be removed. Only for demonstration */
    }

    .column1 {
        float: left;
        width: 35%;
        padding: 30px;
        height: 280px; /* Should be removed. Only for demonstration */
    }

    .column2 {
        float: left;
        width: 35%;
        padding: 30px;
        height: 280px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

