@model IEnumerable<AdIndividual>
<h2>
    Moje prijave na oglas 
</h2>

    @if (!Model.Any())
    {
        <h5 style="color: #778899">Niste se prijavili na nijedan oglas</h5>
    }

    <table class="table table-striped table-bordered table-sm">

        @foreach (var item in Model)
        {
            <tr data-toggle="collapse" id="xman" data-target="@("#" + item.Ad.Id.ToString())" style="cursor:pointer;">
                <td class="text-center"><b>@item.Ad.Title</b></td>
                <td class="text-center">
                            <form asp-action="CancelApplyTo2" asp-route-id="@item.Ad.Id"
                                  method="POST" style="display: inline-block">
                                <button type="submit" class="btn btn-danger btn-sm">Otkaži prijavu</button>
                            </form>
                </td>
            <tr></tr>
            <tr class="bg-light">
                <td colspan="8" style="padding:0;margin:0;">
                    <div id="@item.Ad.Id" class="subRow collapse">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="column1">
                                    <div>
                                        <h4><b><center>@item.Ad.Title</center></b></h4>
                                    </div>
                                    <h1></h1>
                                    <div>
                                        <h4>Datum objavljivanja: <b>@item.Ad.Date.ToString("dd/MM/yyyy")</b></h4>
                                    </div>

                                    <div>
                                        <h4>Firma: <b><a asp-controller="Company" asp-action="Show" asp-route-id="@item.Ad.Company.Id">@item.Ad.Company.Name</a></b></h4>
                                    </div>
                                    <div>
                                        <h4>Vrsta oglasa: <b>@item.Ad.AdCategory.Name</b></h4>
                                    </div>
                                    <div>
                                        <h4>Lokacija: <b>@item.Ad.Location, Hrvatska</b></h4>
                                    </div>
                                    <div>
                                        <h4>Broj radnih sati tjedno: <b>@item.Ad.NumberOfWorkingHours</b></h4>
                                    </div>
                                </div>
                                <div class="column">
                                    <div>
                                        <h5><b><center>Opis posla:</center></b></h5>
                                    </div>
                                    <div>
                                        @item.Ad.JobSummary
                                    </div>
                                    <div>
                                        <h4>Zahtjevane vještine: <b>@item.Ad.RequiredSkills</b></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            </tr>

        }


    </table>


    <style>
        #xman {
            background-color: white;
            color: black;
            cursor: pointer;
            padding: 30px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

            .active, #xman:hover {
                background-color: #c5c5c5;
            }

        #cman {
            padding: 0 14px;
            display: none;
            overflow: hidden;
            background-color: #ff0000;
        }

        #da {
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    </style>

    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 30%;
            padding: 30px;
            height: 280px; /* Should be removed. Only for demonstration */
        }

        .column1 {
            float: left;
            width: 35%;
            padding: 30px;
            height: 280px; /* Should be removed. Only for demonstration */
        }

        .column2 {
            float: left;
            width: 35%;
            padding: 30px;
            height: 280px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
